<h1>Listing badges</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th>Description</th>
  </tr>

<% for badge in @badges %>
  <tr>
    <td><%=h badge.name %></td>
    <td><%=h badge.level %></td>
    <td><%=h badge.description %></td>
    <td><%= link_to 'Show', badge %></td>
    <td><%= link_to 'Edit', edit_badge_path(badge) %></td>
    <td><%= link_to 'Destroy', badge, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New badge', new_badge_path %>
