<h1>New icon</h1>

<% form_for(@icon, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.label :icon, '图标' %><br/>
  <%= f.file_field :icon %></p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', icons_path %>
